@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

html, body {
  background-color: #006;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  min-width: 320px;
}
header {
  font-size: 2em;
  font-weight: bold;
/*   margin: 20px; */
}
#form-outer {
  background-color: white;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  width: 60%;
  max-width: 650px;
}
.labels {
  display: inline-block;
  text-align: right;
}
header #title {
  color: white;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px; 
}
.labels {
  display: inline-block;
  text-align: right;
  width: 35%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightTab {
  display: inline-block;
  text-align: left;
  width: 42%;
  vertical-align: middle;
}
.input-field {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.userRatings, input[type="checkbox radio"] {
  float: left;
  margin-right: 5px;
}

.description {
  font-size: 1.3em;
}

.radio, .checkbox {
  position: relative;
  left: -10px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  margin-bottom: 80px;
  border: 0px solid black;
}

ul {
  padding-left: 7px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

footer {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
  color: gray;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 40%;
  }
}

@media screen and (max-width: 585px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 50%;
  }
}